.cart-grid-container{
    display: grid;
    grid-template-columns: 65% 35%;
    grid-auto-rows: minmax(100vh, auto);
}

.cart-grid-item{
    border: 1px solid #ccc;
}

.grid-item-2 > section {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding: 1rem;
}

.grid-item-2 > section:nth-child(2) > span:nth-child(2) {
    color: #ec008c;
}

.checkout-button {
    display: flex;
    justify-content: center;
}

.checkout-button > button {
    background-color: #ec008c;
    border: none;
    color: white;
    width: 60%;
    font-weight: bold;
    font-size: larger;
    margin: 2rem;
    padding: 1rem;
}

.checkout-button > button:hover {
    color: yellow;
}