.cart-grid-container{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: minmax(100vh, auto);
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.empty-cart >p:nth-child(2):hover {
    color: #FD97B5;
}

.grid-item-1 > div > p:nth-child(2) {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.grid-item-2 > p {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

.grid-item-2 > section {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.grid-item-2 > section > span {
    font-size: 1.3rem;
}

.grid-item-2 > section > span:nth-child(2) {
    font-weight: bold;
}

.grid-item-2 > section:nth-child(2) > span:nth-child(2) {
    color: #FD97B5;
}

.checkout-button {
    display: flex;
    justify-content: center;
}

.checkout-button > button {
    background-color: #FD97B5;
    text-align: center;
    border: none;
    color: white;
    width: 80%;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 2rem;
    padding: 1rem;
}

.checkout-button > button:hover {
    color: yellow;
}

@media only screen and (min-width: 320px) and (max-width: 430px) {

.cart-grid-item > p {
    font-size: 0.8rem;
}
  
.grid-item-2 > section > span {
    font-size: 0.6rem;
}

.checkout-button > button {
    font-size: 0.5rem;
}

.cart-grid-container {
    display: flex;
    flex-direction: column;
}
}