.cart-grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: minmax(100vh, auto);
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.empty-cart>p:nth-child(2):hover {
    color: #ff4500;
}

.grid-item-1 {
    padding: 1rem;
}

.grid-item-1>div>p:nth-child(2) {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.grid-item-2 {
    height: 21rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #f8f8ff;
}

.grid-item-2>section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: #404040;
    font-weight: bold;
    font-weight: bolder;
    font-size: 1rem;
}

.grid-item-2>section:nth-child(3) {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.checkout-button {
    display: flex;
    justify-content: center;
}

.checkout-button>button {
    background-color: #E00085;
    text-align: center;
    border: none;
    color: white;
    width: 20rem;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 2rem;
    padding: 1rem;
}

.checkout-button>button:hover {
    color: yellow;
}

@media(max-width:900px) {

    .grid-item-2>section>span {
        font-size: 0.7rem;
    }

    .checkout-button>button {
        font-size: 0.7rem;
    }
}

@media(max-width: 430px) {

    .cart-grid-item>p {
        font-size: 0.8rem;
    }

    .grid-item-2 {
        height: 16rem;
    }

    .grid-item-2>section {
        padding: 0.5rem;
    }

    .grid-item-2>section>span:nth-child(1) {
        font-size: 0.8rem;
    }

    .grid-item-2>section>span:nth-child(2) {
        font-size: 1rem;
    }

    .checkout-button>button {
        width: 12rem;
        font-size: 0.8rem;
    }

    .cart-grid-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}