.card-container{
    width: 40vh;
    margin: 0.5rem;
}
.card-body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #776969;
    height: 50%;
    justify-content: space-between;
    margin: 0.5rem;
    font-weight: bold;
}

.card-image{
    height: 50%;
}

.card-body-container > p:nth-child(1) {
    font-size: 1rem;
    color: #000;
    height: 10%;
}

.card-body-container > p:nth-child(2) {
    font-size: 0.7rem;
    height: 5%;
}

.card-body-container > p:nth-child(3) {
    font-weight: 500;
    font-size: 0.8rem;
    height: 5%;
}
.colors-info {
    height: 10%;
}

.colors-info > div {
    display: inline-block;
    margin: 0rem 0.2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.card-body-container > button {
    font-size: 0.9rem;
    width: 80%;
    height: 16%;
    font-weight:bold;
}

.button-add-1 {
    border: none;
    background-color: hotpink;
    color: white ;
    border-radius: 3px;
}

.button-add-2 {
    background-color:white;
    color: hotpink;
    border: 1px solid hotpink;
    border-radius: 3px;
}

@media only screen and (min-width: 320px) and (max-width: 430px) {

.card-container{
    width: 8rem;
}

.card-body-container > p:nth-child(1) {
    font-size: 0.7rem;
}
    
.card-body-container > p:nth-child(2) {
   display: none;
    
}
    
.card-body-container > p:nth-child(3) {
    font-size: 0.7rem;
    
}

.card-body-container > button {
    font-size: 0.5rem;
}

}
