.card-body-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image{
    height: 50%;
}
.product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colors-info {
    height: 2.5rem;
}

.colors-info > div {
    display: inline-block;
    margin: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.product-info > button {
    width: 14rem;
    height: 3rem;
    border: none;
    background-color: #ec008c;
    color: white;
    font-weight: bold;
}