.card-body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #776969;
    height: 50%;
    justify-content: space-between;
}

.card-image{
    height: 50%;
}

/* .card-body-container > p {
    height: 10%;
} */

.card-body-container > p:nth-child(1) {
    font-size: 0.9rem;
    color: #000;
    font-weight: bold;
    height: 10%;
}

.card-body-container > p:nth-child(2) {
    font-size: 0.6rem;
    height: 7%;
}

.card-body-container > p:nth-child(3) {
    font-weight: 500;
    font-size: 0.8rem;
    height: 7%;
}
.colors-info {
    height: 10%;
}

.colors-info > div {
    display: inline-block;
    margin: 0rem 0.2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.card-body-container > button {
    font-size: 0.8rem;
    width: 80%;
    height: 15%;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.button-add-1 {
    border: none;
    background-color: #ec008c;
    color: white;
    /* color: yellow; */
}

.button-add-2 {
    background-color: white;
    /* background-color: yellow; */
    color: #ec008c;
    border: 1px solid #ec008c;
}