.header-background{
    background-color: #000;
}

.header-item{
    cursor: pointer;
}

.total-products{
    display: flex;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
}
