.cart-item-container{
    display: flex;
    align-items: center;
    background-color: white;
    border-top: solid 1px #ccc;
    width: 100%;
}

.item-img-container {
  width: 20%;
}

.cart-item-name {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
    color: #000;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    justify-content: center;
    width: 40%;
}

.counter > div {
    display: flex;
    justify-content: space-between;
    width: 40%;
    border-radius: 15px;
    border: 1px solid #000;
    padding: 0.3rem;
}

.counter > div > span {
    color: #000;
}

.counter > div > button {
    border: none;
    background-color: transparent;
}

.counter > button{
    background-color: #f5a2ce;
    border: none;
    color: white;
}

.remove-item {
    text-decoration:underline;
    font-size: 0.7rem;
    cursor: pointer;
    color: gray;
}


