.cart-item-container {
    display: flex;
    align-items: center;
    background-color: #F8F9FA;
    width: 100%;
    height: 10rem;
    margin-bottom: 1rem;
}

.item-img-container {
    width: 20%;
}

.item-img-container>img {
    width: 10rem;
    height: 10rem;
    border: solid 1px lightgrey;
}

.cart-item-name {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
    color: #404040;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    width: 40%;
    margin-top: 0.3rem;
}

.counter>div {
    display: flex;
    justify-content: space-between;
    width: 40%;
    /* border-radius: 15px; */
    border: solid 1px lightgrey;
    background-color: white;
    padding: 0.3rem;
}

.counter>div>span {
    display: flex;
    align-self: center;
    color: #000;
}

.counter>div>button {
    border: none;
    background-color: transparent;
}

.remove-item {
    text-decoration: underline;
    cursor: pointer;
    color: gray;
}

@media (max-width: 430px) {
    .cart-item-container {
        height: 6rem;
    }

    .item-img-container>img {
        width: 6rem;
        height: 6rem;
    }

    .cart-item-name {
        font-size: 0.7rem;
    }

    .counter>div {
        width: 80%;

    }

    .counter>div>span {
        font-size: 0.6rem;
    }

    .remove-item {
        font-size: 0.6rem;
    }
}