.cart-item-container{
    display: flex;
    align-items: center;
    background-color: white;
    border-top: solid 1px #ccc;
    width: 100%;
}

.cart-item-image{
    width: 50%;
}

.counter {
    margin: 1rem;
}