.carousel-img {
   width: 100%;
   height: 80vh;
   background-position: center center;
   background-size: cover;
}

.img-1 {
   background-image: url(../../Images/Img1.jpg);
}

.img-2 {
   background-image: url(../../Images/Img2.jpg);
}

.img-3 {
   background-image: url(../../Images/Img3.jpg);
}
