.ad-container{
    display: flex;
    background-color: #ec008c;
    color: #fff;
    justify-content: center;
    font-weight: bold;
    padding-top: 0.5rem;
}


@media only screen and (min-width: 320px) and (max-width: 425px){

.ad-container{
    font-size: 0.5rem;
}
}

