.footer-background {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.footer-background>section>h1 {
    font-size: 3.5rem;
    color: #E00085;
}

.footer-background>section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 450px) {

    .footer-background>section>h1 {
        font-size: 2rem;
    }

    .footer-background>section>p {
        font-size: 0.8rem;
    }

    .footer-background {
        flex-direction: column;
        justify-content: center;
    }

}