body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: "makeup-first-font";
  src: url(../src/Fonts/Calligraphy-D4pm.ttf)
}

@font-face{
  font-family: "makeup-second-font";
  src: url(../src/Fonts/Dosis-ExtraLight.ttf)
}


h1{
  font-family: "makeup-first-font";
}

/* p, span{
  font-family: 'makeup-second-font';
} */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 1rem;
}

.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --mainColor: #FD97B5;
}

.menu-container > span {
  display: flex;
  height: 2rem;
  font-weight: bold;
  margin: 1rem;
  cursor: pointer;
  padding: 0.3rem;
  background:
     linear-gradient(
       to bottom,
       var(--mainColor) 0%,
       var(--mainColor) 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 0px 0px;
  color: white;
  text-decoration: none;
  transition: background-size .8s;
}

.menu-container > span:hover {
  background-size: 4px 50px;
}

@media only screen and (min-width: 320px) and (max-width: 430px){

.menu-container > span {
  font-size: 0.8rem;
  margin: 0.2rem;
}

.dropdown-brands{
  font-size: 0.9rem;
}

.dropdown-item {
  font-size: 0.8rem;
}
  
  }

